h1 {
  text-align: center;
  color: magenta;
  font-size: 75px;
  font-family: Koushan Script, cursive;
}
h2 {
  text-align: center;
}
h3 {
  margin-top: 50px;
}
body {
  background-color: lavender;
}
h4 {
  text-align: right;
  margin-top: 50px;
}
nav {
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active {
  color: blue;
}
.intro {
  font-size: 50px;
  padding-top: 195px;
  margin-left: 20px;
  display: block;
}
.cat {
  margin-top: 50px;
  max-width: 200px;
}
.learn-more {
  margin: 0 auto;
  display: block;
  max-width: 200px;
  margin-top: 60px;
}
.cat-project {
  max-width: 500px;
  border-radius: 10px;
  margin-top: 50px;
}
.weather-app {
  max-width: 500px;
  margin-left: 130px;
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.selfie {
  max-width: 300px;
  margin-bottom: 20px;
  display: block;
  margin: 0 auto;
  border: solid;
  border-radius: 50px;
  border-width: 20px;
}
.about-me {
  padding-top: 20px;
}
.see-project {
  margin-left: 60px;
}
.contact-me {
  display: block;
  text-align: center;
}
.logo {
  max-height: 40px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  padding: 20px;
}
footer .email-link:hover {
  color: blue;
}
footer .social-links a {
  margin: 0 20px;
  padding: 10px 14px;
  font-size: 18px;
  background: lightsteelblue;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: blue;
}
#weather {
  margin-left: 350px;
  text-align: right;
}
@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
  .cat-project,
  .weather-app {
    max-width: 300px;
  }
  .cat {
    margin-top: 75px;
    max-width: 150px;
  }
  .intro {
    padding-top: 20px;
    font-size: 30px;
  }
}
p {
  position: relative;
}
