h1 {
  text-align: center;
  color: magenta;
  font-size: 75px;
  font-family: Koushan Script, cursive;
}
h2 {
  text-align: center;
}
h3 {
  margin-top: 50px;
}
body {
  background-color: lavender;
}
h4 {
  text-align: right;
  margin-top: 50px;
}

.intro {
  font-size: 50px;
  padding-top: 195px;
  margin-left: 20px;
  display: block;
}
.cat {
  margin-top: 50px;
  max-width: 200px;
}
.learn-more {
  margin: 0 auto;
  display: block;
  max-width: 200px;
  margin-top: 60px;
}
.cat-project {
  max-width: 500px;
  border-radius: 10px;
  margin-top: 50px;
}
.weather-app {
  max-width: 500px;
  margin-left: 130px;
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
}
#weather {
  margin-left: 350px;
  text-align: right;
}
@media (max-width: 600px) {
  .cat-project,
  .weather-app {
    max-width: 300px;
  }
  .cat {
    margin-top: 75px;
  }
  .intro {
    padding-top: 20px;
  }
  p {
    position: relative;
  }
}
