:root {
  --primary-color: blue;
  --secondary-color: black;
  --margin-top: 50px;
}
h1 {
  text-align: center;
  color: magenta;
  font-size: 75px;
  font-family: Koushan Script, cursive;
}
h2 {
  text-align: center;
}
h3 {
  margin-top: var(--margin-top);
}
body {
  background-color: lavender;
}
h4 {
  text-align: right;
  margin-top: var(--margin-top);
}
nav {
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}
nav a {
  transition: all 100ms ease-in-out;
  color: var(--secondary-color);
  text-decoration: none;
}
nav a:hover {
  color: var(--primary-color);
}

.intro {
  font-size: 50px;
  padding-top: 195px;
  margin-left: 20px;
  display: block;
}
.cat {
  margin-top: var(--margin-top);
  max-width: 200px;
}
.learn-more {
  margin: 0 auto;
  display: block;
  max-width: 200px;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: larger;
  font-weight: bold;
}
.cat-project {
  max-width: 500px;
  border-radius: 10px;
  margin-top: var(--margin-top);
}
.weather-app {
  max-width: 500px;
  margin-top: var(--margin-top);
  border-radius: 10px;
  margin-bottom: 50px;
}
.selfie {
  max-width: 300px;
  margin-bottom: 20px;
  display: block;
  margin: 0 auto;
  border: solid;
  border-radius: 50px;
  border-width: 20px;
  max-height: 500px;
}
.about-me {
  padding-top: 20px;
}
.see-project {
  margin-left: 300px;
  font-size: larger;
  font-weight: bold;
}
.contact-me {
  display: block;
  text-align: center;
}
.logo {
  max-height: 40px;
}
.logo-small {
  background: lavender;
}
footer .email-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 24px;
  padding: 20px;
}
footer .email-link:hover {
  color: var(--primary-color);
}
footer .social-links a {
  margin: 0 20px;
  padding: 10px 14px;
  font-size: 18px;
  background: lightsteelblue;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
  margin-bottom: 60px;
}
footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
}
#weather {
  text-align: right;
}
#student {
  max-width: 300px;
  margin-left: 100px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
  .cat-project,
  .weather-app {
    max-width: 300px;
  }
  .cat {
    max-width: 150px;
  }
  .intro {
    padding-top: 20px;
    font-size: 30px;
  }
}
